.DS_Store
ToDo.txt
*.o
a.out
hello_affinity
vecadd
local_hostfile.*

# Conda environments
_env/

# IntelPython dependencies
dpctl/
dpnp/
numba-dpex/

# PBS log files
*.o*
*.e*

# CMake files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# Python cache files
__pycache__/
